body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}
 .img1{
    display: block;
    margin: 0 auto;  
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.success-box {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
}
.recuadroExito{
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}